<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <body>

<h1>Albums page</h1>

<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Create
      </div>
      <div class="card-body">
        <form >
        <table class="table table-bordered">
          <tr>
            <td>Title</td>
            <td>
              <input class="form-control" type="text"  #title  placeholder="title">
            </td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>
                <input class="form-control" type="text" #genre placeholder="genre">
            </td>
          </tr>
          <tr>
            <td>ArtistID</td>
            <td> 
                <input class="form-control" type="text" #artistid placeholder="artistId">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
                <button class="btn btn-success"  (click) = "PostAlbum(title.value, genre.value ,artistid.value)" >Add Album</button>
              
            </td>
          </tr>
        </table>
      </form>
      </div>
    </div>

  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Read
            <button type="button" class="btn btn-warning" (click)="GetAllAlbums()">Get All Albums</button>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
              
            <table class="table table-bordered table-striped mb-0">
              <tr>
                <th scope="col">Album Name</th>
                <th scope="col">Genre </th>
                <th scope="col">Id number</th>
                <th scope="col">Artist Id</th>
              </tr>
              <tr *ngFor="let rec of Albums$">
                <td>{{rec.title}}</td>
                <td>{{rec.genre}}</td>
                <td>{{rec.albumId}}</td>
                <td>{{rec.artistId}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" >get selected method</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Update Album
          </div>
          <div class="card-body">
            <form>
            <table class="table table-bordered">
              <tr>
                <td>Title</td>
                <td>
                  <input type="text" #title  class="form-control" placeholder="title">
                </td>
              </tr>
              <tr>
                <td>Genre</td>
                <td>
                    <input type="text" #genre class="form-control" placeholder="genre">
                </td>
              </tr>
              <tr>
                <td>Album Id</td>
                <td> 
                    <input type="number" #albumid class="form-control" placeholder="albumId">
                </td>
              </tr>
              <tr>
                <tr>
                  <td>ArtistId</td>
                  <td> 
                      <input type="number" #artistid class="form-control" placeholder="Artist Id">
                  </td>
                </tr>
                <tr>
                <td></td>
                <td>
                    <button type="button" (click) = "UpdateAlbum(title.value, genre.value ,artistid.value, artistid.value)" class="btn btn-info">Update method</button>
                </td>
              </tr>
            </table>
          </form>
          </div>
        </div>
    
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Delete
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tr>
                <td>Id</td>
                <td>
                  <input type="number"  class="form-control"  #albumId placeholder="artistId"  placeholder="Album Id">
                </td>
              </tr>
              
              <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger" (click)= "DeleteAlbum(albumId.value)" >Delete Album</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>
<!--paging test-->
<div class="col-md-6">
  <div class="card">
      <div class="card-header">
        Read
        
      </div>
        
      <div >
        <button type="button"  class="btn btn-warning" (click)="GetAlbumsPaging(0)">Get Albums</button>
        
        <table class="table table-bordered table-striped mb-0">
          <tr>
            <th (click)="GetAlbumsPaging(3)" scope="col">Album Name</th>
            <th scope="col">Genre </th>
            <th scope="col">Id number</th>
            <th scope="col">Artist Id</th>
          </tr>
          <tr *ngFor="let rec of Albums$">

            <td>{{rec.title}}</td>
            <td>{{rec.genre}}</td>
            <td>{{rec.albumId}}</td>
            <td>{{rec.artistId}}</td>
            <td>
            </td>
          </tr>
        </table>
        
      </div>
     
      <button type="button" [disabled]="isNextValid()" class="btn btn-warning" (click)="GetAlbumsPaging(1); ">NEXT</button>
      <button type="button" [disabled]="isPreviousValid()" class="btn btn-warning" (click)="GetAlbumsPaging(2)">BACK</button>

    </div>

</div>

<div>

<div>
  Select Artist :  
<select (click)="GetAllArtists($event)" (change)="GetSelectedArtist($event)">  
        <option *ngFor="let alb of Artist$">{{alb.artistname}} </option>  
</select> 

Select Album :  
<select (click)="GetAllAlbums()">  
        <option *ngFor="let alb of Albums$">{{alb.title}} </option>  
</select> 
</div>

<div>
  
</div>  
</div>
</body>
</html>
<!---->

<router-outlet></router-outlet>