<h1>Albums page</h1>

<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Create
      </div>
      <div class="card-body">
        <form >
        <table class="table table-bordered">
          <tr>
            <td>Title</td>
            <td>
              <input class="form-control" type="text"  #title  placeholder="title">
            </td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>
                <input class="form-control" type="text" #genre placeholder="genre">
            </td>
          </tr>
          <tr>
            <td>ArtistID</td>
            <td> 
                <input class="form-control" type="text" #artistid placeholder="artistId">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
                <button class="btn btn-success"  (click) = "PostAlbum(title.value, genre.value ,artistid.value)" >Add Album</button>
              
            </td>
          </tr>
        </table>
      </form>
      </div>
    </div>

  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Read
            <button type="button" class="btn btn-warning" (click)="GetAllAlbums()">Get All Albums</button>
          </div>
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
              
            <table class="table table-bordered table-striped mb-0">
              <tr>
                <th scope="col">Album Name</th>
                <th scope="col">Genre </th>
                <th scope="col">Id number</th>
                <th scope="col">Artist Id</th>
              </tr>
              <tr *ngFor="let rec of Albums$">
                <td>{{rec.title}}</td>
                <td>{{rec.genre}}</td>
                <td>{{rec.albumId}}</td>
                <td>{{rec.artistId}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" >get selected method</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Update Album
          </div>
          <div class="card-body">
            <form>
            <table class="table table-bordered">
              <tr>
                <td>Title</td>
                <td>
                  <input type="text"  class="form-control" placeholder="title">
                </td>
              </tr>
              <tr>
                <td>Genre</td>
                <td>
                    <input type="text"  class="form-control" placeholder="genre">
                </td>
              </tr>
              <tr>
                <td>Phone</td>
                <td> 
                    <input type="number"  class="form-control" placeholder="Phone">
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-info">Update method</button>
                </td>
              </tr>
            </table>
          </form>
          </div>
        </div>
    
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            Delete
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tr>
                <td>Id</td>
                <td>
                  <input type="text" readonly  class="form-control" placeholder="Name">
                </td>
              </tr>
              
              <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger" >Delete method</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    
  </div>
</div>

<router-outlet></router-outlet>